*{
    padding: 0;
    margin: 0;
    /* outline: 1px solid green; */
    scroll-behavior: smooth;
}
/* Start General */
body{
    font-family: "Poppins", sans-serif;
    height:5000px;
    scroll-behavior: smooth;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
.container{
    padding-left: 100px;
    padding-right: 100px;
    margin: 0 auto;
}
::-webkit-scrollbar{
    width: 20px;
    background-color: #25252527;
    border-radius: 20px;
    /* border- */
    /* z-index: -55; */
    border-left: 1px solid #25252522;
}
::-webkit-scrollbar-thumb{
    background-color:#f5df4e;
    border-radius: 20px;
    border: 1px solid rgba(37, 37, 37, 0.5);
}
/* End General */

/* Start social media */
.social-media{
    position: fixed;
    right: 0;
    width: 180px;
    /* height: 200px; */
    /* background-color: red; */
    top: 80px;
    z-index: 555555555;
    /* padding-left: 50px; */
}
.social-media i{
    font-size: 35px;
    position: relative;
    color: #252525;
    flex: 1;
    text-align: right;
}
.social-media i:hover{
    cursor: pointer;
}
.social-media li a{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 10px 20px 0;
    font-weight: bold;
}
.social-media li span{
    background-color: #252525;
    width: 90px;
    border-radius: 20px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    padding: 10px;
    text-align: center;
    color: #fff;
    position: relative;
    opacity: 0;
    transition: all .8s;
}
.social-media li span::after{
    content: "";
    right: -45px;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    width: 7px;
    border: 19px solid ;
}
.social-media li:hover span{
    opacity: 1;
}
.social-media li:first-child span{
    background-color: #1A1E22;
}
.social-media li:first-child span::after{
    border-color: transparent transparent transparent #1A1E22;
}
.social-media li:nth-child(2):hover i{
    color: #0270AD;
}
.social-media li:nth-child(2) span{
    background-color: #0270AD;
}
.social-media li:nth-child(2) span::after{
    border-color: transparent transparent transparent #0270AD;
}
.social-media li:nth-child(3):hover i{
    color: #1C96E8;
}
.social-media li:nth-child(3) span{
    background-color: #1C96E8;
}
.social-media li:nth-child(3) span::after{
    /* background-color: #1C96E8; */
    border-color: transparent transparent transparent #1C96E8;
}
.social-media li:nth-child(4):hover i{
    color: #1773ea;
}
.social-media li:nth-child(4) span{
    background-color: #1773ea;
}
.social-media li:nth-child(4) span::after{
    border-color: transparent transparent transparent #1773ea;
}
.social-media li:last-child:hover i{
    color: red;
}
.social-media li:last-child span{
    background-color: red;
}
.social-media li:last-child span::after{
    border-color: transparent transparent transparent red;
}

/* End social media */
/* Start header */
header{
    position: fixed;
    width: 100%;
    padding:20px 0;
    transition: background-color ease-out .8s;
    box-shadow: 0px 2px 7px #0000003d;
    z-index: 5555555;
}
header nav{
    display: flex;
}
header .logo{
    flex: 1;
}
header .menu{
    position: relative;
    width: 30px;
    cursor: pointer;
    z-index: 555;
}
header .menu span{
    background-color: black;
    border-radius: 20px;
    width: 100%;
    height: 4px;
    display: block;
    position: absolute;
    transition: all .5s;
}
header .menu span:first-child{
    top: 0;
}
header .menu span:nth-child(2){
    top:50%;
    transform: translateY(-50%);
}
header .menu span:last-child{
    bottom: 0;
}
header nav ul{
    position: absolute;
    top:200px;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
header nav ul li{
    margin-bottom: 45px;
}

header nav ul li a{
    font-size: 20px;
    font-weight: bold;
    color: #fff;

}
header nav ul li a:hover{
    color: #f5df4e;
}
.list{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.877);
    opacity: 0;
    /* display: none; */
    transition: all .8s;
    visibility: hidden; 
}
.list li .active{
    color: #f5df4e;
}
/* End header */
/* Start content */
.content{
    width: 100%;
    height: 70vh;
    background-color: #f5df4e;
    padding-top: 200px;
}
@media screen and (max-width:1000px){
    .content{
        height: 100vh;
    }
}
.content .container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
@media screen and (max-width:1000px) {
    .content .container{
       flex-direction: column-reverse;
       padding: 0 50px;
    }
    .content{
        padding-top: 100px;
    }
}
.content .container .col-1{
    line-height: 80px;
    text-align: left;
    color: #252525;
    z-index: 555;
}
@media screen and (max-width:1000px) {
    .content .container .col-1 {
        line-height: 60px;
        text-align: left;
        color: #252525;
        z-index: 555;
    }
}
.content .container .col-1 p:first-child{
    font-size: 40px;
    text-transform: uppercase;
    word-spacing: 2px;
}
@media screen and (max-width:670px) {
    .content .container .col-1 p:first-child{
        font-size: 25px;
    }
}
.content .container .col-1 h1{
    font-size: 45px;
    text-transform: uppercase;
    font-weight:900;
    transition: all .3s;
}
@media screen and (max-width:670px) {
    .content .container .col-1 h1{
        font-size: 30px;
    }
}
.content .container .col-1 p:last-child{
    color: beige;
}
.content .container .col-1 p:not(:first-child){
    font-weight: bold;
    display: flex;
    align-items: center;
}
.content .container .col-1 a{
    padding: 20px 25px;
}
@media screen and (max-width:450px) {
    .content .container .col-1 a{
        padding: 20px 5px;
    }
}
.content .container .col-1 .btn-black{
    background-color: #252525;
    color: #fff;
    font-weight: bold;
}
.content .container .col-1 .btn-transparent{
    color: #252525;
    font-weight: bold;
}
.content .container .country{
    padding-left: 10px;
}
.content .container .col-2{
    width: 300px;
    height: 300px;
    background-image: url("https://drive.google.com/uc?id=12TMjri6fM4szjX2mnkPKLGxIGXO3I4Zs");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    border: 10px solid rgb(240, 240, 240);
    filter: grayscale(100%);
}
@media screen and (max-width:1000px) {
    .content .container .col-2{
        width: 230px;
        height: 230px;
    }
}
/* End content */
/* Start about */
.about{
    width: 100%;
    padding-top: 100px;
    text-align: center;
}
.about .container{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    column-gap: 10px;
}

[name = topic_head] {
    /* grid-column: 3/ span 1; */
    background-color: #f5df4e;
    text-align: center;
    /* align-self: center; */
    padding: 10px;
    border-radius: 10px;
    width: 180px;
    /* position: absolute; */
    /* left: 50%; */
    /* transform: translateX(-50%); */
}
.about .container h1{
    grid-column: span 5;
    /* position: absolute; */
    padding: 30px 0;
}
.about .container .col-1{
    /* background-color: green; */
    /* align-self: center; */
    grid-column: span 3;
    /* padding: 50px; */
    line-height: 50px;
    /* display: flex; */
    /* order: 4; */
}
.about .container .col-1 {
    /* flex-basis: 60%; */
    grid-column: span 4;
}
.about .container .col-1 h1 span{
    font-weight: bolder;
    font-size: 35px;
    position: relative;
}
.about .container .col-1 h1 span::after{
    content: "";
    bottom: -5px;
    left: 0;
    height: 5px;
    width: 100%;
    border-radius: 10px;
    background-color: #f5df4e;
    position: absolute;
}
.about .container .col-1 p{
    font-size: 2rem;
    text-align: center;
    /* grid-column: span 3; */
    /* order:3; */
    /* color: red; */
}
@media screen and (max-width:550px) {
    .about .container{
        padding: 0 20px;
    }
}
.about .container .col-2{
    /* background-color: yellow; */
    background-image: url('https://drive.google.com/uc?id=12TMjri6fM4szjX2mnkPKLGxIGXO3I4Zs');
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    /* grid-column: span 2; */
    height: 300px;
    /* order: 3; */
    box-shadow: 15px 15px 0px #f5df4e;
}
.about .container .col-3{
    padding: 20px 0;
    grid-column: span 5;
    display: grid;
    grid-template-columns: repeat(4,auto);
    row-gap: 30px;
}
@media screen and (max-width:750px){
    .about .container .col-3{
        grid-template-columns: repeat(3,auto)
    }
}
@media screen and (max-width:640px){
    .about .container .col-3{
        grid-template-columns: repeat(2,auto)
    }
}
@media screen and (max-width:540px){
    .about .container .col-3{
        grid-template-columns: auto
    }
}
.about .container .col-3 .active_1{
    font-weight: bold;
    color: #6C757D;
    padding-bottom: 20px;
}
.about .container .col-3 .active_2{
    font-weight: bold;
    display: inline;
}
@media screen and (max-width:1200px){
    .about .container{
        display: flex;
        flex-direction: column;
    }
    .about > p {
        order: 1;
    }
    .about .container h1{
        order: 2;
    }
    .about .container .col-1{
        order: 4;
    }
    .about .container .col-2{
        order: 3;
    }
    .about .container .col-3{
        order: 5;
    }
}
/* End about */
/* Start skills */
.skills{
    /* background-color: red; */
    /* width: 100%; */
    /* position: relative; */
    padding-top: 100px;
}
.skills > p{
    background-color: #f5df4e;
    text-align: center;
    /* align-self: center; */
    padding: 10px;
    border-radius: 10px;
    /* grid-column: 3 / span 1; */
    width: 180px;
    /* position: absolute;
    left: 50%;
    transform: translateX(-50%); */
    /* margin-left: calc(100%-800px); */
    /* margin-right: calc(100%-180px); */
}
.skills .container{
    position: relative;
}
@media screen and (max-width:550px) {
    .skills .container{
        padding: 0 20px;
    }
}
.skills .container .bar{
    padding: 0px 0;
}
.skills .container .bar p{
    font-weight: bold;
}
.skills .container h1{
    /* grid-column: span 5; */
    text-align: center;
    padding: 30px 0;
}
.skills .container h2{
    padding-bottom: 20px;
    /* border: 1px solid; */
    position: relative;
    z-index: 5555;
}
.container h2[title=heading]::after{
    content: "";
    position: absolute;
    bottom: 15px;
    left: 0;
    width: 100px;
    border-radius: 10px;
    height: 2px;
    background-color: #f5df4e;
    /* z-index: 5555; */
}
.skills .container h2[title=description]::after{
    content: "Description";
    position: absolute;
    color: #f5df4e;
    z-index: -555;
    left: 0;
    bottom: 14px;
    opacity: 0.8;
}
.skills .percent_bar ul{
    display: flex;
    align-items: center;
    padding-bottom: 20px;
}
.skills .percent_bar ul li:first-child{
    flex-basis: 50%;
    height: 30px;
    background-color: #f3f3f3;
    border-radius: 5px;
    border: 2px solid #2525251c;
    position: relative;
    z-index: 44;
}
.skills .percent_bar ul li:first-child::after{
    content: "";
    position: absolute;
    height: 100%;
    /* width: ; */
    background-color: #f5df4e;
    z-index: 111111;
    border-radius: 5px;
}
.skills .web ul li:first-child::after{
    width: 90%;
}
.skills .software ul li:first-child::after{
    width: 40%;
}
.skills .design ul li:first-child::after{
    width: 90%;
}
.skills .percent_bar ul li:last-child{
    /* background-color: green; */
    padding-left: 10px;
    text-align: center;
}
.languages ul{
    list-style:disc;
    padding-left: 50px;
}
.languages li{
    padding-bottom: 20px;
    /* padding-right: 50px; */
    /* display: inline-block; */
    font-weight: bold;
}
.languages ul li img {
    width: 25px;
}
/* End skills */
/* Start portfolio */
.portfolio{
    padding-top:100px;
}
.portfolio h2{
    position: relative;
    padding-bottom: 20px;
}
.portfolio .container h1{
    text-align: center;
}
.container h1{
    padding: 30px 0;
}

.portfolio .container h2{
    padding: 20px 0;
    /* width: 1200px; */
}
.portfolio .container .col{
    /* max-width: 1200px; */
    /* background-color: red; */
    overflow-x: scroll;
    overflow-y: hidden;
    display: flex;
    /* justify-content: space-around; */
}
.portfolio .container .col .img-1{
    height: 300px;
    position: relative;
    /* z-index: -111; */
}
.img-1:hover::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: .6;
    z-index: 111;
    /* color: #fff; */
}
.portfolio .container .col .img-1:not(:first-child){
    margin-left: 50px;
}
.portfolio .container .col .img-1 img{
    height: 100%;
}
.portfolio .container .col .info{
    position: absolute;
    z-index: 115555;
    left: 0;
    top:0;
    /* opacity: 0; */
    width: 100%;
    height: 100%;
}
.portfolio .container .col .info a{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    margin-top: 0;
    opacity: 0;
    margin-bottom: 20px;
    color: #f5df4e;
    font-weight: bold;
    font-size: 30px;
    border: 2px solid #f5df4e;
    padding: 10px;
    border-radius: 20px;
    transition: all .5s;
}
.portfolio .container .col .img-1:hover .info a{
    opacity: 1;
}
.portfolio .container .col .img-1:hover .info a:hover{
    background-color: #fade2c97;
}
@media screen and (max-width:550px) {
    .portfolio .container{
        padding: 0 20px;
    }
}
button{
    position: relative;
}

/* .container */
/* End portfolio */