*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-size: 25px;
    font-family: Tahoma, "Times New Roman", Times, serif;
    color: #333333;
    background-color: #E2E2E2;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
.container{
    margin-left: auto;
    margin-right: auto;
    padding-left: 100px;
    padding-right:100px;
}
/* Start nav */
nav{
    /* background-color: rgba(255, 0, 0, 0.11); */
    width: 70px;
    width: 100%;
    padding: 20px 0;
    position: relative;
}
nav .container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* background-color: red; */
    padding: 0;
}
nav ul{
    display: grid;
    grid-template-columns: repeat(4,auto);
    gap: 30px;
}
nav .menu{
    display: none;
}
@media screen and (max-width : 800px) {
    nav ul{
        grid-template-columns: repeat(1,auto);
        grid-template-rows: repeat(4,auto);
        position: absolute;
        bottom: -250px;
        margin-left: 50px;
        background-color: green;
        padding: 20px 40px;
    }
    nav .menu{
        display: block;
    }
}
/* End nav */
/* Start about */
.about{
    padding-top: 150px;
}
.about .container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.about .col-1{
    /* max-width: 500px; */
    flex-basis: 50%;
    display: grid;
}
.about .col-1 p{
    padding-bottom: 30px;
    /* background-color: red; */
}
.about .col-1 h1{
    padding-bottom: 30px;
}
.buttons{
    /* display: grid;
    grid-template-columns: repeat(2,1fr); */
    /* background-color: red; */
    /* text-align: center; */
    padding: 20px;
}
.buttons a{
    border-radius: 40px;
    padding: 15px 20px;
    font-weight: bold;
    font-size: 20px;
    /* word-wrap: normal; */
    display: inline-block;
}
.buttons a:first-child{
    background-color: #eeeeee;
    color: #333333;
}
.buttons a:last-child{
    background-color: #474559;
    margin-left: 5%;
    color: #fff; 
}

.about .col-2{
    max-width: 400px;
    font-size: 100%;
}
.about .col-2 img{
    width: 100%;
}
/* End about */

/* Start projects */
.projects{
    padding-top: 80px;
    width: 100%;
}
.projects h1{
    font-size: 30px;
    text-align: center;
}
.projects .slider{
    display: grid;
    /* grid-template-columns: repeat(3,1fr); */
    grid-template-areas: "arr_l  slider slider slider slider  arr_r"
                         "arr_l  slider slider slider slider  arr_r"
                         "arr_l  slider slider slider slider  arr_r"
                         "arr_l  slider slider slider slider  arr_r"
                         "arr_l  slider slider slider slider  arr_r"
                         "arr_l  slider slider slider slider  arr_r"
                         "arr_l  slider slider slider slider  arr_r"
                         "arr_l  slider slider slider slider  arr_r"
                         "arr_l  slider slider slider slider  arr_r"
                         "arr_l  bullets  bullets bullets bullets arr_r";
    padding: 50px 0;
    /* background-color: green; */
    text-align: center;
    height: 400px;
}
.projects .img-box{
    background-color: #908f99;
}
.projects .fa-arrow-left-long{
    grid-area: arr_l;
}
.projects .fa-arrow-right-long{
    grid-area: arr_r;
}
.projects .fa-arrow-right-long , .projects .fa-arrow-left-long{
    margin-top: 150px;
    /* margin-top used to center arrows */
    font-size: 50px;
}
.projects .slider .img-box{
    /* background-color: red; */
    grid-area: slider;
}
.projects .slider .bullets{
    text-align: center;
    grid-area: bullets;
    /* background-color: black */
}
/* End projects */

/* Start resume */
.resume{
    /* background-color: red; */
}
.resume .container{
    display: grid;
    grid-template-columns: repeat(2,minmax(auto,1fr));
    gap: 10%;
}
.resume .container .col-1{
    display: grid;
    grid-template-rows: repeat(4,auto);
}
.resume .container .col-2{
    display: grid;
    grid-template-rows: repeat(4,auto);
}
.resume .container h1{
    position: relative;
}
.resume .container h1::after{
    content: "";
    width: 2px;
    width: 100%;
    background-color: #333333;
    position: absolute;
    bottom: 0;
}
.resume .container .col-2 h1{
    padding-bottom: 20px;
}
.resume .container .col-2 h2{
    display: inline-block;
}
.resume .container .col-2 .title{
    display: flex;
}
.resume .container .col-2 .title h6{
    padding:5px;
    background-color: #333333;
    color:#fff;
    width: 10%;
    text-align: center;
}
/* End resume */